# Specific Files
shipping_cost_fix.csv
shipping_cost_fix.errors.csv
shipping_cost_fix.noweights.csv
*shipping*comparison.xls
cache/
*.EPL2
Endicia*/token.txt
*~
.gitignore

# GVim swap files
*.swp

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
fix_shipping/shipping comparison.xls
fix_shipping/shipping_cost_fix.csv
fix_shipping/shipping_cost_fix.errors.csv
*.csv
*.swo
